/* ============================= */
/* JOIN PAGE LARGE SCREEN */
/* ============================= */

@media screen and (min-width: 700px) {

    .join-container {
        display: grid;
        grid-template-columns: 1.4fr 1fr;
        gap: 2rem;
        align-items: start;
    }

    .join-form,
    .membership-levels {
        margin-bottom: 0;
    }

    .membership-levels {
        grid-template-columns: 1fr;
    }

}